---
import PersonIcon from "../icons/Person.astro";
const { id } = Astro.props;
---

<div class="grid grid-cols-8" id={id}>
  <h1 class="flex gap-x-2 mb-5 font-semibold self-start">
    <PersonIcon class="size-10" /> Sobre mí
  </h1>

  <div class="col-span-4 col-start-1">
    <p class="w-[100%] text-xl text-white/80 text-pretty">
      Mi nombre es
      <span class="text-blue-500/80 text-2xl"><code>Octavio Moya</code></span>,
      tengo 20 años y actualmente me encuentro estudiando y formandome como <span
        class="text-blue-400/80"><code>Programador</code></span
      >.
      <br />
      <br />
      Desde que soy chico, me llama la atención el mundo de la tecnología y el hecho
      de <span class="text-blue-400/80"
        ><code
          >saber como se crean y funcionan las cosas que usamos a diario</code
        ></span
      >, ya sean videojuegos, aplicaciones, sitios web, etc.
      <br />
      <br />
      Me gusta aprender cosas nuevas y <span class="text-blue-400/80"
        ><code>Siempre estoy buscando mejorar mis habilidades</code></span
      >. Por eso decidí estudiar y formarme como Programador.
    </p>
  </div>
  <div class="col-span-4 col-start-5">
    <img
      src="/mifoto.png"
      alt="foto personal"
    />
  </div>
</div>
