---
import ProjectItems from '../components/ProjectsItems.astro';

import MongoDBIcon from '../icons/MongoDB.astro';
import AstroIcon from '../icons/Astro.astro';
import TailwindIcon from '../icons/TailwindCSS.astro';
import ExpressIcon from '../icons/ExpressJS.astro';
import BootstrapIcon from '../icons/Bootstrap.astro';

const tags = {
    ASTRO: {
        name: "Astro",
        class: "bg-black text-white",
        icon: AstroIcon
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-[#003159] text-white",
        icon: TailwindIcon
    },
    EXPRESS: {
        name: "Express",
        class: "bg-black text-white",
        icon: ExpressIcon
    },
    MONGODB: {
        name: "MongoDB",
        class: "bg-green-700 text-white",
        icon: MongoDBIcon
        
    },
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-white text-violet-700",
        icon: BootstrapIcon
    }
}

const project = [
    {
        title: "Aplicación de Cine en C++",
        description: 
        `Es un programa desarrollado en C + + con Qt para gestionar los clientes y las ventas de un cine. 
        Permite registrar clientes, empleados y películas, usando archivos CSV para almacenamiento.`,
        link: "https://github.com/moyeta-tech/Cine"
    }, 
    {
        title: "Pagina de Libros sobre Programación con Astro y Tailwind CSS",
        description:
        `Es una página en la que hay algunos libros de programación y se puede interactuar con ellos, ya sea para saber 
        más información que a su vez también tiene un enlace de compra que te redirige a Amazon para poder 
        comprarlo.`,
        link: "https://github.com/moyeta-tech/dev-Books",
        tags: [tags.ASTRO, tags.TAILWIND]
    },
    {
        title: "Tienda Online con NodeJS, ExpressJS, MongoDB y Bootstrap",
        description: 
        `Junto con mi grupo de la universidad, preparamos una aplicación web que sirve para gestionar el stock de una 
        tienda de productos electrónicos, permitiéndonos agregar, eliminar, modificar y ver la información de 
        productos, clientes y pedidos. Lo realizamos para presentar como trabajo final en la materia de base de datos.`,
        link: "https://bazardito.onrender.com/",
        tags: [tags.EXPRESS, tags.MONGODB, tags.BOOTSTRAP]
    }
        ]
---


<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        {
        project.map((project) => (
            <li class="mb-10 ms-4">
                <ProjectItems {...project}/>

            </li>
        ))}
</ol>

